<h1>Listing comments</h1>

<table>
  <tr>
    <th>Reply</th>
    <th>Post</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if session[:current_user_id]!=nil %>
<% if User.find(session[:current_user_id]).role == 'admin' %>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.reply %></td>
    <td><%= comment.post %></td>
    <td><%= comment.user %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>
<% end %>
</table>

<br />
<% if session[:current_user_id]!=nil %>
<% if User.find(session[:current_user_id]).role == 'admin' %>
<%= link_to 'New Comment', new_comment_path %>
<% end %>
<% end %>
