<p id="notice"><%= notice %></p>

<p>
  <b>Reply:</b>
  <%= @comment.reply %>
</p>

<p>
  <b>Username:</b>
  <%= User.find(@comment.user).username %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', :controller => 'posts', :action => 'index' %>
