<h2> User Stats</h2>
 <% if session[:current_user_id]!=nil %>
 <% if User.find(session[:current_user_id]).role == 'admin' %>
<table border="1">
<tr>
<th>User</th>
<th>Posts</th>
<th>Replies</th>
<th>Votes Received</th>
</tr>
<% (0..@length-1).each do |i| %>
 <tr>
   <td><%=@usersarray[i]%></td>
   <td><%=@postsarray[i]%></td>
   <td><%=@commentsarray[i]%></td>
   <td><%=@votesarray[i]%></td>
 </tr>
<% end %>
</table>
<% end %>
<% end %>
<%= link_to 'Back', :controller => 'posts', :action => 'index' %>