<h1>Listing posts_votes</h1>

<table>
  <tr>
    <th>Post</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts_votes.each do |posts_vote| %>
  <tr>
    <td><%= posts_vote.post %></td>
    <td><%= posts_vote.user %></td>
    <td><%= link_to 'Show', posts_vote %></td>
    <td><%= link_to 'Edit', edit_posts_vote_path(posts_vote) %></td>
    <td><%= link_to 'Destroy', posts_vote, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Posts vote', new_posts_vote_path %>
