<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @post.topic %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@post.user).username %>
</p>

<% if @post.user_id == session[:current_user_id] %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>
